# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
nextjs-app/node_modules
node-server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/nextjs-app/.next/
/nextjs-app/out/

# production
/nextjs-app/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
node-server/.env

.env.local
.env.development.local
.env.test.local
.env.production.local