.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {
    margin-top: 3rem;
}

.sectionTitleText {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
}

.courtList {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}